.chat__header {}

.chat__headerLeft {
  margin-top: -40px;
}

.chat__header {
  background: #E8F5F9;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 12px 12px 0px 0px;
}

.chat-img {
  margin-top: -30px;
  margin-left: 12px;
  margin-bottom: 28px;
}

.contact-btn {
  background-color: #6B6565;
  padding: 6px;
  color: #fff;
  margin-left: 16px;
  margin-right: 9px;
  width: 115px;
}

.chat__body {
  height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #FFFFFF;
}