.sidebar {
  padding-left: 8px;
}

.sidebar > .navbar {
  padding: 0 !important;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 13px !important;
}

a.nav-link {
  padding: 10px;
}

.inbox, a.nav-link:hover {
  
  background: #fff;
  color: #000;
  border-radius: 10px;
}

